<div class="container mt-4">
  <h2 class="mb-4">Your Profile</h2>

  <div class="card">
    <div class="card-header bg-black text-white">
      <h5>Profile Details</h5>
    </div>
    <div class="card-body">
      <p><strong>Name:</strong> {{ currentUser?.name }}</p>
      <p><strong>Username:</strong> {{ currentUser?.username }}</p>
      <p><strong>Date of Birth:</strong> {{ currentUser?.dob }}</p>
      <p><strong>Mobile:</strong> {{ currentUser?.mobno }}</p>
      <p><strong>Role:</strong> {{ currentUser?.role }}</p>
    </div>
  </div>
</div>
